// Modify this class.

form.clean_form_test {
    .clean_form();
}

.clean_form (
    @form_width: 512px,
    @form_left_width: 256px,
    @form_right_width: 256px,
    @field_border_color: #dfdfdf,
    @field_border_size: 1px,
    @field_height: 24px,
    @field_margin_bottom: 24px,
    @select_multiple_height: 96px,
    @textarea_height: 192px) {

    width: @form_width;

    // Reset style of decendants.

    ul {
        list-style: none;
        padding-left: 0;
    }

    > ul {
        > li {
            margin-bottom: @field_margin_bottom;

            // Float to the left.

            > div.text_left,
            input[type=checkbox],
            input[type=radio],
            label {
                float: left;
            }

            // Float to the right.

            > div.text_right,
            > input[type=password],
            > input[type=submit],
            > input[type=text],
            > select,
            > textarea,
            ul {
                float: right;
            }

            // Set widths.

            > label {
                width: @form_left_width;
            }
            > div.text_right,
            > ul {
                width: @form_right_width;
            }
            > input[type=password],
            > input[type=text],
            > select,
            > textarea {
                width: @form_right_width - (@field_border_size * 2);
            }

            // Set heights.

            > div.text_left,
            > div.text_right,
            > input[type=password],
            > input[type=text],
            input[type=checkbox],
            input[type=radio],
            label {
                height: @field_height;
                line-height: @field_height;
            }
            > textarea {
                height: @textarea_height;
            }
            > select[multiple=multiple] {
                height: @select_multiple_height;
            }

            // Set borders.

            > input[type=password],
            > input[type=text],
            > select,
            > textarea {
                border: @field_border_size solid @field_border_color;
            }

            // Set margins.

            input[type=checkbox],
            input[type=radio] {
                margin: 0 0.5em 0 0;
            }

            // Set paddings.

            > input[type=password],
            > input[type=text],
            > textarea {
                padding: 0;
            }
        }
    }
}
