.clean_form(
    @label_align:            left,
    @form_width:             512px,
    @form_left_width:        256px,
    @form_right_width:       256px,
    @gutter_width:           16px,
    @field_height:           24px,
    @field_margin_bottom:    16px,
    @element_border_color:   #bfbfbf,
    @element_border_size:    1px,
    @textarea_height:        192px,
    @select_multiple_height: 128px) {

    width: @form_width;

    > div {
        margin-bottom: @field_margin_bottom;

        > label {
            text-align: @label_align;
        }

        > div.left,
        > label {
            float: left;
            margin-right: @gutter_width / 2;
            width: @form_left_width - @gutter_width / 2;
        }

        > div.right {
            float: right;
            margin-left: @gutter_width / 2;
            width: @form_right_width - @gutter_width / 2;
        }

        > input[type=password],
        > input[type=text] {
            border: @element_border_size solid @element_border_color;
            float: right;
            height: @field_height - @element_border_size * 2;
            margin-left: @gutter_width / 2;
            padding: 0;
            width: @form_right_width - @element_border_size * 2 - @gutter_width / 2;
        }

        > textarea {
            border: @element_border_size solid @element_border_color;
            float: right;
            height: @textarea_height - @element_border_size * 2;
            margin-left: @gutter_width / 2;
            padding: 0;
            width: @form_right_width - @element_border_size * 2 - @gutter_width / 2;
        }

        input[type=checkbox],
        input[type=radio] {
            float: left;
            height: @field_height;
            margin: 0 0.5em 0 0;
        }

        > input[type=checkbox] {
            margin-left: @gutter_width / 2;
        }

        > ul {
            float: right;
            list-style: none;
            margin: 0;
            padding-left: 0;

            > li > label {
                float: left;
                margin-left: @gutter_width / 2;
                width: @form_right_width - @gutter_width / 2;
            }
        }

        > select {
            border: @element_border_size solid @element_border_color;
            float: right;
            height: @field_height;
            margin: 0 0 0 @gutter_width / 2;
            width: @form_right_width - @gutter_width / 2;
        }

        > select[multiple=multiple] {
            height: @select_multiple_height;
        }

        > input[type=file] {
            float: left;
            margin: 0 0 0 @gutter_width / 2;
            width: @form_right_width - @element_border_size * 2 - @gutter_width / 2;
        }

        > input[type=button],
        > input[type=submit] {
            float: right;
            height: @field_height;
            margin: 0 0 0 @gutter_width / 2;
        }
    }
}

.clean_form_error(
    @error_background_color: #ffefef,
    @error_color:            #bf0000,
    @error_margin_top:       8px,
    @error_margin_bottom:    8px) {

    > div {
        div.right.error {
            color: @error_color;
            margin-bottom: @error_margin_bottom;
            margin-top: @error_margin_top;
        }

    }

    > div.error {
        > input[type=password],
        > input[type=text],
        > textarea {
            background-color: @error_background_color;
        }
    }
}

.clean_form_help(
    @help_color:         #7f7f7f,
    @help_margin_top:    8px,
    @help_margin_bottom: 8px) {

    > div > div.right.help {
        color: @help_color;
        margin-bottom: @help_margin_bottom;
        margin-top: @help_margin_top;
    }
}

.clean_form_date(
    @form_right_width:    256px,
    @gutter_width:        16px,
    @date_day_width:      48px,
    @date_year_width:     64px,
    @date_element_margin: 8px) {

    > div > select.date_day {
        float: left;
        width: @date_day_width;
    }
    > div > select.date_month {
        float: left;
        margin: 0 0 0 @date_element_margin;
        width: (@form_right_width - @gutter_width / 2) - @date_day_width - @date_year_width - @date_element_margin * 2;
    }
    > div > select.date_year {
        float: left;
        margin: 0 0 0 @date_element_margin;
        width: @date_year_width;
    }
}
