@cf_label_align:            left;
@cf_form_width:             512px;
@cf_form_left_width:        256px;
@cf_form_right_width:       256px;
@cf_gutter_width:           16px;
@cf_element_margin_bottom:  16px;
@cf_element_border_color:   #bfbfbf;
@cf_element_border_size:    1px;
@cf_element_height:         24px;
@cf_textarea_height:        192px;
@cf_select_multiple_height: 96px;

@cf_error_background_color: #ffefef;
@cf_error_color:            #bf0000;
@cf_error_margin_top:       -8px;
@cf_error_margin_bottom:    8px;

@cf_help_color:             #7f7f7f;
@cf_help_margin_top:        -8px;
@cf_help_margin_bottom:     8px;

/* sum of widths must be 32 */
@cf_date_date_width:       6;
@cf_date_month_width:      17;
@cf_date_year_width:       9;
@cf_date_round_compensate: 2px;
@cf_date_element_margin:   8px;

.clean_form {
    width: @cf_form_width;

    > div {
        margin-bottom: @cf_element_margin_bottom;

        > label {
            text-align: @cf_label_align;
        }

        > div.left,
        > label {
            float: left;
            margin-right: @cf_gutter_width / 2;
            width: @cf_form_left_width - @cf_gutter_width / 2;
        }

        > div.right {
            float: right;
            margin-left: @cf_gutter_width / 2;
            width: @cf_form_right_width - @cf_gutter_width / 2;
        }

        > input[type=password],
        > input[type=text] {
            border: @cf_element_border_size solid @cf_element_border_color;
            float: right;
            height: @cf_element_height;
            margin-left: @cf_gutter_width / 2;
            padding: 0;
            width: @cf_form_right_width - @cf_element_border_size * 2 - @cf_gutter_width / 2;
        }

        > textarea {
            border: @cf_element_border_size solid @cf_element_border_color;
            float: right;
            height: @cf_textarea_height;
            margin-left: @cf_gutter_width / 2;
            padding: 0;
            width: @cf_form_right_width - @cf_element_border_size * 2 - @cf_gutter_width / 2;
        }

        input[type=checkbox],
        input[type=radio] {
            float: left;
            height: @cf_element_height;
            margin: 0 0.5em 0 0;
        }

        > input[type=checkbox] {
            margin-left: @cf_gutter_width / 2;
        }

        > ul {
            float: right;
            list-style: none;
            margin: 0;
            padding-left: 0;

            > li > label {
                float: left;
                margin-left: @cf_gutter_width / 2;
                width: @cf_form_right_width - @cf_gutter_width / 2;
            }
        }

        > select {
            border: @cf_element_border_size solid @cf_element_border_color;
            float: right;
            margin: 0 0 0 @cf_gutter_width / 2;
            width: @cf_form_right_width - @cf_gutter_width / 2;
        }

        > select[multiple=multiple] {
            height: @cf_select_multiple_height;
        }

        > input[type=file] {
            float: left;
            margin: 0 0 0 @cf_gutter_width / 2;
            width: @cf_form_right_width - @cf_element_border_size * 2 - @cf_gutter_width / 2;
        }

        > input[type=button],
        > input[type=submit] {
            float: right;
            margin: 0 0 0 @cf_gutter_width / 2;
        }
    }
}

.clean_form_error {
    > div {
        div.right.error {
            color: @cf_error_color;
            margin-top: @cf_error_margin_top;
            margin-bottom: @cf_error_margin_bottom;
        }

    }

    > div.error {
        > input[type=password],
        > input[type=text],
        > textarea {
            background-color: @cf_error_background_color;
        }
    }
}

.clean_form_help {
    > div > div.right.help {
        color: @cf_help_color;
        margin-top: @cf_help_margin_top;
        margin-bottom: @cf_help_margin_bottom;
    }

    > div.error {
        > input[type=password],
        > input[type=text],
        > textarea {
            background-color: @cf_error_background_color;
        }
    }
}

.clean_form_date {
    > div > select.date_date {
        float: left;
        width: (@cf_form_right_width - @cf_gutter_width / 2) / 32 * @cf_date_date_width;
    }
    > div > select.date_month {
        float: left;
        margin: 0 0 0 @cf_date_element_margin;
        width: (@cf_form_right_width - @cf_gutter_width / 2) / 32 * @cf_date_month_width - @cf_date_element_margin;
    }
    > div > select.date_year {
        float: left;
        margin: 0 0 0 @cf_date_element_margin;
        width: (@cf_form_right_width - @cf_gutter_width / 2) / 32 * @cf_date_year_width - @cf_date_element_margin + @cf_date_round_compensate;
    }
}
