form.test {
  width: 512px;
}
form.test > div {
  margin-bottom: 16px;
}
form.test > div > label {
  text-align: left;
}
form.test > div > div.left, form.test > div > label {
  float: left;
  margin-right: 8px;
  width: 248px;
}
form.test > div > div.right {
  float: right;
  margin-left: 8px;
  width: 248px;
}
form.test > div > input[type=password], form.test > div > input[type=text] {
  border: 1px solid #bfbfbf;
  float: right;
  height: 24px;
  margin-left: 8px;
  padding: 0;
  width: 246px;
}
form.test > div > textarea {
  border: 1px solid #bfbfbf;
  float: right;
  height: 192px;
  margin-left: 8px;
  padding: 0;
  width: 246px;
}
form.test > div input[type=checkbox], form.test > div input[type=radio] {
  float: left;
  height: 24px;
  margin: 0 0.5em 0 0;
}
form.test > div > input[type=checkbox] {
  margin-left: 8px;
}
form.test > div > ul {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
form.test > div > ul > li > label {
  float: left;
  margin-left: 8px;
  width: 248px;
}
form.test > div > select {
  border: 1px solid #bfbfbf;
  float: right;
  margin: 0 0 0 8px;
  width: 248px;
}
form.test > div > select[multiple=multiple] {
  height: 96px;
}
form.test > div > input[type=file] {
  float: left;
  margin: 0 0 0 8px;
  width: 246px;
}
form.test > div > input[type=button], form.test > div > input[type=submit] {
  float: right;
  margin: 0 0 0 8px;
}
form.test > div div.right.error {
  color: #bf0000;
  margin-top: -8px;
  margin-bottom: 8px;
}
form.test > div.error > input[type=password], form.test > div.error > input[type=text], form.test > div.error > textarea {
  background-color: #ffefef;
}
form.test > div > div.right.help {
  color: #7f7f7f;
  margin-top: -8px;
  margin-bottom: 8px;
}
form.test > div > select.date_day {
  float: left;
  width: 48px;
}
form.test > div > select.date_month {
  float: left;
  margin: 0 0 0 8px;
  width: 120px;
}
form.test > div > select.date_year {
  float: left;
  margin: 0 0 0 8px;
  width: 64px;
}
body,
input,
select,
textarea {
  font: 16px/1.5 sans-serif;
}
